
<div class="container">

    <div *ngFor="let item of items">
        <div class="row">
            <div class="col-lg-2 text-center foodImgHeigth">
                <img [src]="item.foodImg" 
                class="rounded foodImgHeigth"
                alt="item.name">
            </div>
            <div class="col-lg-4 foodImgHeigth">
                <div>{{item.description}}</div>
            </div>
            <div class="col-lg-2 foodImgHeigth">
                <div>Rs {{item.price}}/- each</div>
            </div>
            <div class="col-lg-2 foodImgHeigth">
                <input type="number" name="item.name"
                 placeholder="Qauntity"
                 min="1" max="5" [(ngModel)]="item.quantity"></div> 
        </div>
        <hr />
    </div>
   
    <div class='row'>
        <div class="col-lg-2"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2">
            <div class="text-left">
                <button type="button" class="btn btn-success"
                (click)="buy()"
                >Buy</button>
        </div>
    </div>
    </div>

</div>